body {
    font-family: "Inter", sans-serif;
    margin: 0px;
}
.nav-container{
    display: flex;
    
    max-height: 92px;
    max-width: 100%;
    padding:16px 120px;
    justify-content: space-between;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
}
.nav-options-ul ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-container img{
    height: 41px;
    width: 91px;
}
.nav-options a{
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}
.btn{
    height: 44px;
    width: auto;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.btn-build{
    height: 52px;
    width: auto;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    padding: 12px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    cursor: pointer;
}

.banner-image{
    height: auto; 
    min-height: 674px;
    max-width: 100%;
    
    /* border: 1px solid black; */
    background-image: url("./assets/hero-bg.png");
    padding: 70px 120px 134px 120px;
    background-repeat: no-repeat;
    background-position: 20% top;
    box-sizing: border-box;
    
}
.banner-content{
    /* border: 1px solid red; */
    padding-top: 40px;
    height: auto;
    max-width: 1360px;
    text-align: center;
    
    /* background-size: cover; */
    
    
}

.btn img{
    margin-left: 10px;
}



.banner-content h1{
    font-size: 80px;
    color: #FFFFFF;
    margin-bottom: 0px;
    
}
.banner-content p{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
}
.green-span{
    color: #30B868;
}
.early-access{
    background-color: #FFFFFF;
    max-height: 40px;
    max-width: 229px;
    border-radius: 1000px;
    padding: 4px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 16px auto;
    color: #469165;
    
}
.banner-content .early-access-para{
    font-size: 16px;
    color: #469165;
    margin-left: 6px;
}
.banner-btn-container{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    max-height: auto;
    max-width: 465px;
    margin: 0 auto;
}
.works-btn{
    height: 52px;
    max-width: 198px;
    background-color: transparent;
    border-radius: 4px;
    padding: 12px 16px;
    border: 1px solid white;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}
.works-btn i{
    margin-right: 10px;
    
}
#green-icon{
    color: #469165;
    
}
.early-access i{
    margin-left: 10px;
}

.notes{
    max-width: 100%;
    max-height: 448px;
    /* border: 1px solid black; */
    padding: 0px 120px 120px 120px;
    margin-bottom: 0px;
}
.notes-header{
    margin-top: 50px;
    text-align: center;
}
.notes-header h1{
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}
.notes-header p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.notes-ideas{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.notes-card{
    max-height: 300px;
    max-width: 322px;
    /* border: 1px solid black; */
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.notes-card-image{
    background-color: #F95555;
    color: #FFFFFF;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* padding: 20px */
    box-sizing: border-box;
    padding: 15px;
    display: block; 
    object-fit: contain;
    margin: 0 auto 16px auto;
}
.notes-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.notes-card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 16px;
}
.brain-content-contents{
    
}
.brain{
    display: flex;
    /* border: 1px solid black; */
    background-color: #FFFFFF;
    padding: 120px;
    gap: 60px;
    max-width: 100%;
    gap: 24px;
}
.brain-img{
    max-width: 600px;
    max-height: 600px;
    border-radius: 12px;
    /* border: 1px solid black; */
}
.brain-content{
    /* border: 1px solid black; */
    flex: 1;
    display: flex;
    flex-direction: column;
}
.brain-content h4{
    font-size: 13px;
    font-weight: 400px;
    color: #469165;
    line-height: 20px;
}
.brain-content h1{
    font-size: 28px;
    font-weight: bold;
    color: #001931;
    height: auto;
    width: 100%;
    margin: 0;
}
.brain-content p{
    font-size: 12px;
    font-weight: 400px;
    color: #627382;
    line-height: 20px;
}
.brain-content .brain-content-contents p{
    font-size: 14px;
    font-weight: 400;
    color: #001931;
    line-height: 20px;
}
.fa-circle-check{
    color: #30B868;
    margin-right: 5px;
}

.think-more-clearly{
    padding: 2px 120px 120px 120px;  
    text-align: center;
}
.think-more-clearly-contents{
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;
}
.think-more-clearly-contents h1{ 
    font-size: 40px;
    color: #001931;
    font-weight: bold;
}
.think-more-clearly-contents p{ 
    font-size: 16px;
    color: #627382;
    font-weight: 400;
}
.think-more-clearly-contents button{
    margin: 0 auto 16px auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.footer{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
.social-link{
    display: flex;
    justify-content: space-between;
}
.icons img{
    height: 60px;
    width: 139px;
}
.social-link-icons p{
    color: #FFFFFF;
    line-height: 28px;
    font-size: 20px;
    margin: 0px;
}
.social-link-icons i{
    /* background-color: #000000; */
    color: #FFFFFF;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.copyright{
    border-top: 1px solid rgb(206, 184, 184);
    margin: 40px;
    
}
.copyright p{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    color: #FAFAFA;
    margin-top: 50px;
    
}